<!DOCTYPE html>
<html ng-app="listaTelefonicaApp" lang="pt">
<head>
	<title>Angular Diretivas 1</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="../lib-config/bootstrap/css/bootstrap.css">
	<script src="../lib-config/angular/angular.js"></script>
	<script src="../lib-config/angular/i18n/angular-locale_pt-br.js"></script>
	<script src="../lib-config/angular/angular-messages.js"></script>

	<style type="text/css">

		.jumbotron{

			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			width: 600px;
			padding: 20px;

		}

		.table{

			margin-top: 20px;

		}

		.table td{
			text-align: left;
		}

		.form-control{

			margin-bottom: 10px;
		}

	</style>

	<script type="text/javascript">

		angular.module('listaTelefonicaApp', ['ngMessages']);
		angular.module('listaTelefonicaApp').controller('listaTelefonicaCtrl', function($scope, $filter, $http){

				$scope.hello = "Lista Telefônica";

				$scope.operadoras = [
					{nome: "OI", codigo: 14, categoria: "Celular", preco: 2},
					{nome: "VIVO", codigo: 15, categoria: "Celular", preco: 3},
					{nome: "CLARO", codigo: 16, categoria: "Celular", preco: 1},
					{nome: "GVT", codigo: 25, categoria: "Fixo", preco: 2},
					{nome: "Embratel", codigo: 21, categoria: "Fixo", preco: 3}
				];

				// Ex: $filter("lowercase")("Michael")
				//O $filter irá retornar uma função!

				$scope.contatos = [

					{ nome: "Michael",
						telefone: "9999-8888",
						cor: "blue",
						data: new Date(),
						operadora: $scope.operadoras[0]
					},
					{	nome: "Cássia",
						telefone: "9999-8877",
						cor: "black",
						data: new Date(),
						operadora: $scope.operadoras[1]
					},
					{nome: "Pedro",
						telefone: "9999-8844",
						cor: "red",
						data: new Date(),
						operadora: $scope.operadoras[2]
					},
					{	nome: "Maria",
						telefone: "9999-8348",
						cor: "gray",
						data: new Date(),
						operadora: $scope.operadoras[3]
					}

				];


				var carregarLivros = function(){

						$http.get("http://livros-shoppcdc.rhcloud.com/produto/json-livros.json");

				};

				$scope.adicionarContato = function(contato){

					$scope.contatos.push(angular.copy(contato));
					delete $scope.contato;
					$scope.contatoForm.$setPristine();

				};

				$scope.apagarContato = function(contatos){

						$scope.contatos = contatos.filter(function(contato) {
								if (!contato.selecionado) {
										return contato;
								}
						});
				};

				$scope.isContatosSelecionados = function(contatos){

					  var isSelecionado = contatos.some(function(contato) {
									return contato.selecionado;
						});

						return isSelecionado;
				};


				$scope.ordenarPor = function(campo){

						$scope.criteriaDeOrdenacao = campo;
						$scope.direcaoOrderBy = !$scope.direcaoOrderBy; //é true ou false essa direção

				};



				carregarLivros();

		});


	</script>

</head>
<body ng-controller="listaTelefonicaCtrl">

	<div class="jumbotron">
		<h4>{{hello}}</h4>

		<input class="form-control" placeholder="O que você está buscando? ..." ng-model="criteriaDeBusca">

		<table class="table table" ng-show="contatos.length > 0">
			<tr>
				<th></th>
				<th>Nome  <a href="#" ng-click="ordenarPor('nome')"> <span class="glyphicon glyphicon-sort-by-attributes"></span> </a> </th>
				<th>Telefone <a href="#" ng-click="ordenarPor('telefone')"> <span class="glyphicon glyphicon-sort-by-attributes"></span> </a></th>
				<th>Operadora</th>
				<th>Data</th>
				<th></th>
			</tr>

			<!-- Posso aplicar um ng-class, tanto array [] como um somente um, e
			manipulá-lo com $scope no JS.

			ex:
			html -> ng-class="selecionado"
			js   -> $scope.selecionado: "classSelecionado"
			css  -> classSelecionado { backgroung-color: red }

			-->

			<tr ng-class="{'bg-warning': contato.selecionado}"
					ng-repeat="contato in contatos | filter:{nome: criteriaDeBusca} | orderBy:criteriaDeOrdenacao:direcaoOrderBy">

				<td> <input type="checkbox" ng-model="contato.selecionado"> </td>
				<td> {{contato.nome | uppercase}} </td>
				<td> {{contato.telefone}} </td>
				<td> {{contato.operadora.nome | lowercase}} </td>
				<td> {{contato.data | date:'dd/MM/yy HH:mm'}} </td>
				<td> <div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"> <div> </td>
			</tr>
		</table>

		<hr>

		<form name="contatoForm">

			<input class="form-control" type="text" name="nome" placeholder="Nome..."
		   			 ng-model="contato.nome" ng-required="true" ng-minlength="10">

			<input class="form-control" type="text" name="telefone" placeholder="Telefone..."
						 ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">

			<hr>

			<!-- O as do operadora.codigo significa que o value será o código!
			ex: ng-options="operadora.codigo as operadora.nome for operadora in operadoras"
			-->
			<select class="form-control"
							ng-model="contato.operadora"
							ng-options="operadora.nome + '( ' + (operadora.preco | currency) + ' )'
							group by operadora.categoria for operadora in operadoras | orderBy:'nome'">

							<option value=""> -- Selectione uma Operadora -- </option>

			</select>


			<div ng-messages="contatoForm.nome.$error"
					 class="alert alert-danger"
				   style="text-align: left;">

					<p ng-message="required" ng-show="contatoForm.nome.$dirty">
							O campo nome é requerido!
					</p>
					<p ng-message="minlength">
						O campo nome deve ter no minimo 10 caracteres!
					</p>

			</div>

			<div ng-messages="contatoForm.telefone.$error"
					 class="alert alert-danger"
				   style="text-align: left;">

					<p ng-message="required" ng-show="contatoForm.telefone.$dirty">
						O campo telefone é requerido!
					</p>
					<p ng-message="pattern">
						O campo telefone ter o padrão de 9999-9999
					</p>

			</div>

		</form>

		<button ng-click="adicionarContato(contato)"
						ng-disabled="contatoForm.$invalid"
						class="btn btn-primary btn-block">

						Add Contato
		</button>

		<button ng-click="apagarContato(contatos)"
						ng-disabled="!isContatosSelecionados(contatos)"
						class="btn btn-danger btn-block">

						Delete Contato
		</button>

		<!-- <br>
			{{100.66 | number:2}}
		-->

	</div>

	<!--
		<div ng-include="'rodape.html'">
		div>
		O google chrome bloqueia por questões de politica!!!
	-->


</body>
</html>
